

{% extends "layout.html" %}

{% block title %}
    Post
{% endblock  %}

{% block content  %}

        <section class="mainpage">

            {% for post in posts  %}
            <article>
                <h2>
                    <a href="{% url "posts:page" slug=post.slug %}">
                    {{post.title}}
                </a>
                </h2>
                <p>{{post.body}}</p>
                <p>{{post.slug}}</p>
                <img src="{{post.images.url}}" alt="{{post.title}}">
                
            </article>
            {% endfor %}



        </section>
    
{% endblock  %}